	.navbar {
		position : fixed;
		top : 0;
		width : 100%;
		height : 60px;
		background : #0A2463;
		color : white;
		display : flex;
		align-items : center;
		justify-content : space-between;
		padding : 0;
		box-sizing : border-box;
		z-index : 1000;
		left: 0;
		box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
	}
	.nav-links {
		list-style : none;
		display : flex;
		gap : 25px;
		padding-right : 6rem;
	}
	.nav-links li a {
		color : white;
		text-decoration : none;
		font-size : 16;
		transition : 0.3s;
		
		/* Menambahkan background link di nav */
		
		background-color : #0D1B2A;
		padding : 10px 20px;
		border-radius : 20px;
	}
	.nav-links li a:hover {
		background-color : skyblue;
		color : black;
		padding : 10px 20px;
		border-radius : 20px;
		font-weight : bold;
		transition : ease-in-out 0.4s;
	}
	.logo {
		color : white;
		border-radius : 50%;
		font-weight : bold;
		font-size : 25;
		margin-left : 3rem;
		text-shadow : 0 0 7px #fff, 0 0 21px #ff00de;
		padding : 12px;
	}
	.logo:hover{
		color : grey ; 
		font-weight : bold;
	}
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to bottom, #E0F7FA, #B3E5FC );
	}
	.Profile-container {
		background-color: #0A2463;
		padding: 30px;
		border-radius: 12px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
		width: 300px;
		text-align: left;
		color : white;
	}
	.info-label{
		width: 100px;
		display: inline-block;
		color: white	;
		font-weight: bold;
	}
	a{
		display: inline-block;
		background-color: #A9B8A6;
		color: white;
		padding: 10px 20px;
		border-radius: 5px;
		margin-top: 10px;
	}
	a:hover{
		background-color: #B7C4A1;
		font-weight : bold;
	}
	.Profil-info{
		line-height: 23px;
		margin-bottom: 10px;
	}	
	img {
		border-radius: 50%;
		object-fit: cover;
		border: 3px solid #333
	}