	.navbar {
		position : fixed;
		top : 0;
		width : 100%;
		height : 60px;
		background : #0A2463;
		color : white;
		display : flex;
		align-items : center;
		justify-content : space-between;
		padding : 0;
		box-sizing : border-box;
		z-index : 1000;
		left: 0;
		box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
	}
	.nav-links {
		list-style : none;
		display : flex;
		gap : 25px;
		padding-right : 6rem;
	}
	.nav-links li a {
		color : white;
		text-decoration : none;
		font-size : 16;
		transition : 0.3s;
		
		/* Menambahkan background link di nav */
		
		background-color : #0D1B2A;
		padding : 10px 20px;
		border-radius : 20px;
	}
	.nav-links li a:hover {
		background-color : skyblue;
		color : black;
		padding : 10px 20px;
		border-radius : 20px;
		font-weight : bold;
		transition : ease-in-out 0.4s;
	}
	.logo {
		color : white;
		border-radius : 50%;
		font-weight : bold;
		font-size : 25;
		margin-left : 3rem;
		text-shadow : 0 0 7px #fff, 0 0 21px #ff00de;
		padding : 12px;
	}
	.logo:hover{
		color : grey ; 
		font-weight : bold;
	}
	.content{
		background: linear-gradient(to bottom, #E0F7FA, #B3E5FC );
		padding-left : 3rem;
		text-align : center;
		color : navy;
		height : 100%;
		padding-top : 3.5rem;
	}
	.content ul{
		list-style : none;
		display : flex;
		align-items : center;
		justify-content : space-between;
		padding-right : 5rem;
		font-weight : bold;
	}
	.content li:hover{
		transition : ease-in-out 0.5s;
		background-color : #1A1A1A80;
		color : white;
		padding : 25px;
		font-size : 17px;
	}